<div class="row">
    <h2>Rezervacija sobe</h2>
    <form role="form">
        <h3>Lični podaci:</h3>
        <div class="form-group">
            <label for="name">Ime i prezime:</label>
            <input type="text" class="form-control" id="name" placeholder="Unesite ime i prezime">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Unesite email">
        </div>
        <div class="form-group">
            <label for="contact">Kontakt telefon:</label>
            <input type="text" class="form-control" id="contact" placeholder="Unesite kontakt telefon">
        </div>
        <h3>Rezervacija:</h3>
        <div class="checkbox">
            <label><input type="checkbox">Prihvatam uslove kupovine.</label>
        </div>
        <button type="submit" class="btn btn-default">Rezerviši</button>
    </form>
</div>